@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
}

main > * {
    width: 50%;
    float: left;
    border: 1px solid black;
    padding: 10px;
    height: 500px;
    overflow: hidden;
}

footer {
    clear: both;
    width: 90%;
    border: 1px solid black;
    padding: 0 25px;
    margin: 20px 0;
    left: 5%;
    position: relative;
    height: 200px;
}

footer div {
    text-align: center;
}

main > *::first-letter {
    font-size: 2em;
    color: red;
    text-transform: uppercase;
}

nav div a:hover {
    background: red;
    color: white;
    cursor: grab;
}

nav div {
    width: 50%;
    background: #ddd;
    padding: 10px;
    text-align: center;
    float: left;
    border: 1px solid white;
}

nav div > a {
    text-decoration: none;
    font-size: 2em;
    color: black;
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    display: block;
}

main article p:first-child img {
    max-width: 200px;
    float: left;
    padding: 20px;
}

img {
    max-width: 100%;
}

@media only screen and (max-width: 600px ) {
    nav div {
        width: 100%;
    }
}